<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443756902981-fsllglmg6ah4ofbfoguesdqvsmsq3593.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443756902981-fsllglmg6ah4ofbfoguesdqvsmsq3593</string>
	<key>API_KEY</key>
	<string>AIzaSyBiPeqGPBmZaESxGpxfq6_WForxowoDVGM</string>
	<key>GCM_SENDER_ID</key>
	<string>443756902981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.letshop.mobile</string>
	<key>PROJECT_ID</key>
	<string>letshop-2629c</string>
	<key>STORAGE_BUCKET</key>
	<string>letshop-2629c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:443756902981:ios:b0e326266755773274c12c</string>
</dict>
</plist>
